source https://api.nuget.org/v3/index.json

framework: net6.0, netstandard2.0

storage: none
strategy: min

nuget FSharp.Core
nuget WebSharper
nuget WebSharper.FSharp
nuget WebSharper.AspNetCore
nuget WebSharper.AspNetCore.WebSocket
nuget Newtonsoft.Json

group build
    framework: net6.0, netstandard2.0
    source https://api.nuget.org/v3/index.json
    storage: none
    strategy: min

	nuget Fake.Core.CommandLineParsing
    nuget Fake.Core.Target
    nuget Fake.IO.FileSystem
    nuget Fake.DotNet.AssemblyInfoFile
    nuget Fake.DotNet.Cli
    nuget Fake.DotNet.MSBuild
    nuget Fake.DotNet.Paket
    nuget Fake.Tools.Git
    nuget NUglify
    nuget FSharp.Core
    nuget Mono.Cecil

group wsbuild
    git https://github.com/dotnet-websharper/build-script fake5

group testws
    source https://api.nuget.org/v3/index.json

    framework: net6.0

    storage: none
    strategy: min
    
    nuget WebSharper.UI
    nuget WebSharper.FSharp
    nuget WebSharper.CSharp
    nuget WebSharper.UI.CSharp
    nuget WebSharper.AspNetCore
    nuget WebSharper.AspNetCore.WebSocket
    nuget Newtonsoft.Json
